/*fadeout affect from Stack Overflow: https://stackoverflow.com/questions/15907079/css3-transition-fade-out-effect*/

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
  }

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
  }